body {
    background-image: url("../img/Horizon.png"), url("../img/Blue_circle.png"), url("../img/Red_circle.png");
    background-position-y: bottom, -100px, -100px;
    background-position-x: center, 0%, 100%;
    background-size: 100% 25%, contain, contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    text-shadow: 2px 2px black;
}

#col1 {
    /* background-image: url("../img/Blue_circle.png");
    background-position: center;
    background-size: cover; */
    margin-left: 75px;
}

#col2 {
    /* background-image: url("../img/Red_circle.png");
    background-position: center;
    background-size: cover; */
    margin-left: -150px;
}

#col1, #col2 {
    padding: 350px 0px;
}

#horizon {
    padding: 100px 0px;
    margin-top: -150px;
}

#grid {
    margin-top: -200px;
}

#blend {
    font-size: 2em;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.3em;
}