#col1 {
    /*background-image: url("../img/Blue_circle_results_page.png");
    background-position-x: left;
    background-position-y: top;
    background-size: 1000px 1000px;*/
    padding: 50px 0px;
}
#col2 {
    padding: 30px 0px;
}
#col3 {
    /*background-image: url("../img/Red_circle_results_page.png");
    background-position-x: right;
    background-position-y: top;
    background-size: 1000px 1000px;*/
    padding: 50px 0px;
}
#row2 {
    /*background-image: url("../img/horizon_results_page.png");
    background-size: cover;*/
    padding: 50px 0px;
}
body {
    background-color: black;
    background-repeat: no-repeat;

    background-image: url(../img/horizon_results_page.png), url(../img/Blue_circle_results_page.png), url(../img/Red_circle_results_page.png);
    background-position-y: bottom, -50px, -50px;
    background-position-x: center, -90%, 190%;
    background-size: 100% 40%, 75% 95%, 75% 95%;
}