body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#col1 {
    background-image: url("../img/Blue_circle.png");
    background-position-x: left;
    background-position-y: top;
    background-size: 1200px 1200px;
    padding: 150px 10px;
}
#col2 {
    background-image: url("../img/Horizon.png");
    background-size: cover;
    padding: 30px 0px;
}
#col3 {
    background-image: url("../img/Red_circle.png");
    background-position-x: right;
    background-position-y: top;
    background-size: 1200px 1200px;
    padding: 150px 10px;
}
#row2 {
    background-image: url("../img/Horizon.png");
    background-size: cover;
    padding: 50px 0px;
}
#button {
    background-image: url("../img/Button.png");
    background-position: center;
    background-size: cover;
}