body {
    font-family: "Geo", Arial, Helvetica, sans-serif;
}

.btn-purple {
    color: white;
    background-color: purple;
}
.btn-border {
    border-color: white;
}
.btn:hover {
    color: black;
}
.text {
    color: white;
    font-size: 30px;
}
.big_text {
    color: white;
    font-size: 60px;
}
.selection_text {
    color: black;
    font-size: 30px;
}
.selection_text_big {
    color: black;
    font-size: 50px;
}
.selection_text_small {
    color: black;
    font-size: 20px;
}

@font-face {
    font-family: "Geo";
    src: url("../fonts/Geo/Geo.otf");
}