.btn-purple {
    color: white;
    background-color: purple;
}
.btn-border {
    border-color: white;
}
.btn:hover {
    color: black;
}
.text {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.big_text {
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.selection_text {
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.selection_text_big {
    color: black;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}